{{ define "resume" }}
<div class="max-w-[820px] min-w-[820px] px-8 py-8">
  {{ block "header" .Header }}{{ end }}
  <hr class="h-0.5 mx-auto bg-black border-0 mt-1" />
  {{ block "experience" .ExperienceList }}{{ end }}
  <hr class="h-0.5 mx-auto bg-black border-0 mt-1" />
  {{ block "education" .EducationList }}{{ end }}
  <hr class="h-0.5 mx-auto bg-black border-0 mt-1" />
  {{ block "projects" .ProjectList }}{{ end }}
  <hr class="h-0.5 mx-auto bg-black border-0 mt-1" />
  {{ block "skills" .Skills}}{{ end }}
</div>
{{ end }}
